<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>p07-loya.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AF33520E1EA991C700CC89B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3352281EA991C700CC89B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AF3352331EA991C700CC89B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
